# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch
.settings/
.metadata
.classpath
.project

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Minecraft / Forge
run/
logs/
crash-reports/
saves/
config/
options.txt
usercache.json
usernamecache.json
servers.dat

# OS
.DS_Store
Thumbs.db
